@import '/css/fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 19px 24px 32px 24px;

  font-family: 'TT Lakes', sans-serif; /*!!!*/
  box-shadow: 5px 0px 30px 5px #bfbfc1;
}

.aside__header {
  margin-bottom: 46.5px;
}

.aside__nav {
  margin-bottom: auto;
}

.aside-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside-header__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.aside-header__button:first-of-type {
  margin-right: 16px;
}

.aside-header__button:nth-of-type(2) {
  margin-right: auto;
}

.aside-header__button:hover {
  opacity: 0.5;
}

.aside-nav {
  width: 100%;
}

.aside-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; /*!!!*/
}

.aside-nav__item {
  display: flex;
  margin-bottom: 32px;
  cursor: pointer;
}

.aside-nav__link {
  display: flex;
  align-items: center;
  min-height: 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.aside-nav__link:hover {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0;
}

.aside-nav__link:hover::before {
  content: '';
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 4px;
  margin-left: -24px;
  margin-right: 20px;
  background-image: url('/images/highlight.png');
}

.aside__submit {
  margin-bottom: 16px;
}

.aside-submit {
  display: flex;
}

.aside-submit__link {
  margin-right: 16px;
  outline: none;
  text-decoration: none;
}

.aside-submit__link:last-of-type {
  margin-right: 0;
}

.aside-submit__link:hover {
  opacity: 0.5;
}

.aside-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.aside-contacts__mail,
.aside-contacts__tell {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
}

.aside-contacts__mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}

.aside-contacts__tell {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.langs {
  display: flex;
}

.langs__link {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
  margin-right: 7px;
}

.langs__link:last-of-type {
  margin-right: 0;
}

.langs__link--active {
  opacity: 0.5;
}
