.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0;
  margin: 0;
  list-style: none; */
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link--disabled:hover {
  opacity: 1;
}

.nav__item--hidden {
  display: none;
}

.nav__item:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .nav__item--hidden {
    display: flex;
  }
}
