@import 'fonts.css';
@import 'collapse-button.css';
@import 'reset-list.css';
@import 'swiper.css';
@import 'collapse-button.css';
@import 'subtitle.css';
@import 'slider.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: 'TT Lakes', sans-serif;
  background-color: #f8f8f8;
}

.slider-block {
  display: flex;
  flex-direction: column;
}

.slider-block__subtitle {
  margin-bottom: 16px;
}

.slider__button--hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider-block__subtitle {
    margin-bottom: 24px;
  }

  .slider__button {
    display: flex;
    margin-top: 24px;
    margin-left: 8px;
  }

  .collapse-button__img--activated {
    transform: rotate(180deg);
  }
}

/* @media screen and (min-width: 1120px) {
 
} */
