@import '/css/fonts.css';
@import './css/nav.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', sans-serif;
}

.header__page {
  margin-bottom: 24px;
}

.header {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  max-height: 88px;
  padding: 0 16px;
}

.nav__item:nth-child(2)::after {
  content: '';
  display: block;
  height: 32px;
  width: 2px;
  margin: 28px 0 27px 16.73px;
  background-image: url('./images/divider.png');
}

.main {
  display: flex;
  flex-direction: column;
}

.main__title {
  margin-bottom: 24px;
  margin-top: 0;
}

.title {
  display: flex;
  width: 100%;
}

.title__text {
  display: flex;
  margin: 0;
  margin-right: auto;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.title__text::before {
  content: '';
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 4px;
  margin-right: 12px;
  background-image: url('./images/highlight.png');
}

.submit--hidden {
  display: none;
}

.main__nav {
  margin: 0 16px 24px 16px;
}

.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  list-style: none;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: flex;
}

.main-nav__link {
  padding: 8px 9.38px 8px 16.67px;
  outline: none;
  text-decoration: none;
  border: 2px solid transparent;
  color: #7e7e82;
  font-size: 16px;
}

.main-nav__link--active {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 6px;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 16px;
  flex: 1 1 312px;
}

.article__text {
  max-height: 90px;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.article__button {
  margin-top: 16px;
}

.button {
  display: flex;
  align-items: center;
  outline: none;
  padding: 0;
  border: 0;
  background-color: inherit;
}

.button__icon {
  margin-right: 16px;
}

.button__title {
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.article__ {
  flex: 1 1 auto;
  display: flex;
}

.article__picture {
  height: auto;
  width: 100%;
  flex-basis: 541px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 40px 0 24px;
  }

  .nav__item:nth-child(2)::after {
    content: '';
    display: none;
  }

  .nav__item:first-child::after {
    content: '';
    display: block;
    height: 32px;
    width: 2px;
    margin: 28px 0 27px 20px;
    background-image: url('./images/divider.png');
  }

  .nav__item:nth-child(5)::after {
    content: '';
    display: block;
    height: 32px;
    width: 2px;
    margin: 28px 20px 27px 20px;
    background-image: url('./images/divider.png');
  }

  .main__title {
    margin-bottom: 32px;
  }

  .main__nav {
    margin: 0 16px 32px 24px;
  }

  .main__article {
    margin-left: 24px;
    margin-right: 40px;
  }

  .article {
    flex-wrap: nowrap;
  }

  .article__wrapper {
    margin: 0;
    margin-right: 46px;
  }

  .article__text {
    max-height: 160px;
    line-height: 20px;
    max-height: 160px;
  }

  .article__button {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1120px) {
  .header--hidden {
    display: none;
  }

  .main__title {
    margin-top: 42px;
  }

  .title__submit {
    margin: 0;
    padding: 0;
    margin-right: 32px;
  }

  .title__submit:last-of-type {
    margin-right: 30px;
  }

  .submit {
    display: flex;
    align-items: center;
    color: #1b1c21;

    outline: none;
    text-decoration: none;
  }

  .submit__text {
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
  }

  .main__nav {
    margin-bottom: 0;
  }

  .main-nav__list {
    flex-wrap: wrap;
    overflow: visible;
  }

  .main-nav__item {
    margin-bottom: 14px;
  }

  .article__text {
    max-height: 160px;
  }

  .article__wrapper {
    max-width: 490px;
  }
}
