@import './css/fonts.css';
@import './css/nav.css';
@import './css/page-nav.css';
@import './css/reset-list.css';
@import './css/collapse-button.css';
@import './css/article.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', sans-serif;
}

.page__header {
  margin-bottom: 24px;
}

.header {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  max-height: 88px;
  padding: 0 16px;
}

.nav__item--hidden:nth-of-type(n + 3):nth-of-type(-n + 5) {
  display: none;
}

.header__item:nth-of-type(2) {
  margin-right: auto;
}

/* .header__item:nth-child(2)::after {
  content: '';
  display: block;
  height: 32px;
  width: 2px;
  margin: 28px 20px 27px 20px;
  background-image: url('./images/divider.png');
} */

.header__item:nth-child(6)::before {
  content: '';
  display: block;
  height: 32px;
  width: 2px;
  margin: 28px 20px 27px 0;
  background-image: url('./images/divider.png');
}

.main {
  display: flex;
  flex-direction: column;
}

.main__title {
  margin-bottom: 24px;
  margin-top: 0;
}

.title {
  display: flex;
  width: 100%;
}

.title__text {
  display: flex;
  margin: 0;
  margin-right: auto;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.title__text::before {
  content: '';
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 4px;
  margin-right: 12px;
  background-image: url('./images/highlight.png');
}

.main__nav {
  margin: 0 16px 24px 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 40px 0 24px;
  }

  .nav__item--hidden:nth-of-type(n + 3):nth-of-type(-n + 5) {
    display: flex;
  }

  .header__item:nth-of-type(5) {
    margin: 0;
  }

  /* .header__item:nth-child(2)::after {
    content: '';
    display: none;
  } */

  .header__item:first-child::after {
    content: '';
    display: block;
    height: 32px;
    width: 2px;
    margin: 28px 0 27px 20px;
    background-image: url('./images/divider.png');
  }

  .header__item:nth-child(6)::before {
    margin-left: 20px;
  }

  .main__title {
    margin-bottom: 32px;
  }

  .main__nav {
    margin: 0 16px 32px 24px;
  }

  .main__article {
    margin-left: 24px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1120px) {
  .header--hidden {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 42px;
    padding-right: 32px;
  }

  .header__item:nth-child(6)::before {
    display: none;
  }

  .nav__item--hidden {
    display: none;
  }

  .nav__item--hidden:nth-of-type(n + 3):nth-of-type(-n + 5) {
    display: none;
  }

  .nav__item:last-of-type,
  .nav__item:nth-last-of-type(2) {
    visibility: visible;
  }

  .nav__link {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    margin-right: 8px;
  }

  .nav__text {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    margin-right: 8px;
  }

  .main__title {
    margin-top: 42px;
  }

  .main__nav {
    margin-bottom: 19px;
  }
}
