.article {
  display: flex;
  flex-direction: column-reverse;

  &__text {
    max-height: 90px;
    overflow: hidden;
    margin: 0 16px 16px 16px;
    font-size: $smSize;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $textBlackColor;
    transition: all 1s;
    order: 2;

    &--visible {
      max-height: 600px;
      overflow: unset;
    }
  }

  &__item {
    display: flex;
    flex: 1 1 50%;
    margin-bottom: 20px;
    order: 0;
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__btn {
    margin-left: 16px;
    margin-bottom: 10px;
    order: 1;
  }
}

@include tablet {
  .article {
    width: 100%;
    overflow: auto;
    display: block;
    flex-direction: unset;
    padding: 0 24px;

    &__item {
      float: right;
      margin-left: 48px;
      margin-bottom: 0;
    }

    &__img {
      width: none;
      object-fit: none;
    }

    &__text {
      margin: 0;
      margin-bottom: 16px;
      max-height: 160px;
      line-height: 20px;

      &--visible {
        max-height: 600px;
      }
    }

    &__btn {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
