.btn-send {
  border: none;
  background: $priceBtnColor;
  border-radius: 16px;
  width: 136px;
  padding: 4px 0;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    color: $bgWhiteColor;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 28px;
    font-size: 12px;

    &::after {
      content: '';
      display: inline-block;
      height: 9.63px;
      width: 7px;
      background-image: url(../img/arrow-price.svg);
      margin-left: 17px;
    }
  }
}
