@import '~normalize.css';
.card {
  max-width: 240px;
  background-color: #ffffff;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
}
.card__link {
  display: flex;
  outline: none;
  text-decoration: none;
  opacity: 1;
}
.card__link:hover {
  opacity: 0.5;
}
.card__text {
  color: #1b1c21;
}

.card-brand {
  height: 72px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.card-brand__link {
  width: 100%;
  justify-content: space-between;
}

.card-tech {
  height: 160px;
}
.card-tech__link {
  align-items: flex-start;
  flex-direction: column;
  padding: 16px 16px;
}
.card-tech__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 64px;
}
.card-tech__img {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: none;
  }
}