@import '../variables.scss';
@import '~normalize.css';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.card {
  max-width: 240px;
  background-color: $bgWhiteColor;
  border: 1px solid $borderCardColor;
  border-radius: 6px;

  &__link {
    display: flex;
    outline: none;
    text-decoration: none;
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }

  &__text {
    color: $textBlackColor;
  }
}

.card-brand {
  height: 72px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  &__link {
    width: 100%;
    justify-content: space-between;
  }
}

.card-tech {
  height: 160px;
  &__link {
    align-items: flex-start;
    flex-direction: column;
    padding: 16px 16px;
  }

  &__text {
    font-size: $mdSize;
    line-height: 24px;
    margin-bottom: 64px;
  }

  &__img {
    margin-left: auto;
  }
}


@include tablet {
  .card {
    max-width: none;
  }
}
