.form {
  display: flex;
  flex-direction: column;

  &__item {
    border-radius: 8px;
    border: 1px solid $borderCardColor;
    margin-bottom: 16px;
    min-height: 48px;
    padding-left: 16px;

    &::placeholder {
      font-size: $mdSize;
      color: $placeholderColor;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 19px;
    font-size: $smSize;
    line-height: $mdSize;
    color: $textGreyColor;

    &--important {
      color: $priceBtnColor;
    }
  }

  &__btn {
    margin-left: auto;
  }
}
