.paragraph {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 0 16px;

  &__content {
    margin: 0;
    margin-bottom: 16px;
    font-size: $smSize;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  &__btn {
    @include reset-btn;
    display: flex;
    padding: 0;
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }

  &__text {
    font-size: $mdSize;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $textBlackColor;

    &::after {
      content: '';
      display: inline-block;
      height: 12px;
      width: 9px;
      background-image: url(../img/prg-arrow.svg);
      margin-left: 5px;
    }
  }
}

@include tablet {
  .paragraph {
    padding: 0;
    padding-left: 24px;
    width: 421px;
  }
}

@include desktop {
  .paragraph {
    padding-left: 32px;
  }
}
