@import '../variables.scss';
@import '~normalize.css';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.card-btn {
  display: flex;
  width: 119px;
  background: $priceBtnColor;
  border-radius: 16px;
  padding-left: 12px;

  outline: none;
  text-decoration: none;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    color: $bgWhiteColor;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 28px;
    font-size: 12px;

    &::after {
      content: '';
      display: inline-block;
      height: 9.63px;
      width: 7px;
      background-image: url(../img/arrow-price.svg);
      margin-left: 17px;
    }
  }
}

