.form {
  display: flex;
  flex-direction: column;
}
.form__item {
  border-radius: 8px;
  border: 1px solid rgb(234, 234, 234);
  margin-bottom: 16px;
  min-height: 48px;
  padding-left: 16px;
}
.form__item::-moz-placeholder {
  font-size: 16px;
  color: rgb(181, 182, 188);
}
.form__item:-ms-input-placeholder {
  font-size: 16px;
  color: rgb(181, 182, 188);
}
.form__item::placeholder {
  font-size: 16px;
  color: rgb(181, 182, 188);
}
.form .form-text {
  margin: 0;
  margin-bottom: 19px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
}
.form .form-text__important {
  color: #FF3E79;
}
.form__link {
  margin-left: auto;
}
.form .card-btn {
  width: 136px;
  padding: 4px 0;
  justify-content: center;
}