.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #d9fff5;
  max-height: 147px;
  width: 100%;
  padding: 16px 4px 19px 4px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.footer__wrapper .footer__text {
  margin-bottom: 0;
}
.footer__text {
  margin: 0;
  margin-bottom: 14px;
  color: #7e7e82;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 24px 25px 24px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__wrapper {
    margin: 0;
    flex-basis: 33.3333333333%;
    justify-content: flex-start;
  }
  .footer__wrapper .footer__text {
    text-align: start;
    align-self: flex-start;
  }
  .footer__text {
    margin: 0;
    flex-basis: 33.3333333333%;
  }
  .footer__text:last-child {
    text-align: end;
  }
}
@media screen and (min-width: 1366px) {
  .footer {
    position: relative;
    left: 320px;
    width: calc(100% - 320px);
    padding: 32px 33px 21px 31px;
  }
}