@import '~normalize.css/normalize.css';
@import '~swiper/swiper-bundle.css';
@import './reset-btn.scss';
@import './variables';
@import './media_breakpoints.scss';
@import './blocks/nav.scss';
@import './blocks/page-nav.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/menu.scss';
@import './blocks/popup.scss';
@import './blocks/catalog.scss';
@import './blocks/table.scss';
@import './blocks/subtitle.scss';
@import './blocks/title.scss';
@import './blocks/form.scss';
@import './blocks/paragraph.scss';
@import './blocks/swiper.scss';
@import './blocks/contacts.scss';
@import './blocks/langs.scss';
@import './blocks/btn-menu.scss';
@import './blocks/btn-ghost.scss';
@import './blocks/btn-logo.scss';
@import './blocks/btn-call.scss';
@import './blocks/btn-chat.scss';
@import './blocks/btn-repair.scss';
@import './blocks/btn-status.scss';
@import './blocks/btn-profile.scss';
@import './blocks/btn-search.scss';
@import './blocks/btn-close.scss';
@import './blocks/btn-send.scss';
@import './blocks/communication.scss';
@import './blocks/article.scss';
@import './blocks/section.scss';

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: $bgGreyColor;
  font-family: 'TT Lakes', sans-serif;

  &--noscroll {
    overflow: hidden;
  }

  &__header {
    margin-bottom: 24px;
  }

  .main {
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__nav {
      margin: 0 16px 24px 16px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__paragraph {
      margin-top: 16px;
      margin-bottom: 24px;
    }
  }
}

@include tablet {
  .main {
    &__title {
      margin-bottom: 32px;
    }
  }
}

@include desktop {
  .main {
    &__content {
      position: relative;
      left: 320px;
      width: calc(100% - 320px);
    }

    &__title {
      margin-top: 42px;
    }
  }
}
