@import 'fonts.css';
@import 'blocks/nav.css';
@import 'mixins/reset-list.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: 'TT Lakes', sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 19px 24px 32px 24px;
  box-shadow: 5px 0px 30px 5px #bfbfc1;
}

.menu__header {
  margin-bottom: 46.5px;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-header__item:nth-of-type(2) {
  margin-right: auto;
}

.menu__menu-nav {
  margin-bottom: auto;
}

.menu-nav {
  width: 100%;
}

.menu-nav__list {
  display: flex;
  flex-direction: column;
}

.menu-nav__item {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-nav__link {
  display: flex;
  align-items: center;
  min-height: 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.menu-nav__link:hover,
.menu-nav__link--active {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0;
}

.menu-nav__link:hover::before,
.menu-nav__link--active::before {
  content: '';
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 4px;
  margin-left: -24px;
  margin-right: 20px;
  background-image: url('../images/highlight.png');
}

.menu__contacts {
  margin-top: 16px;
  margin-bottom: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.contacts__link {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
  margin-bottom: 12px;
}

.contacts__link:hover {
  opacity: 0.5;
}

.contacts__link:last-of-type {
  margin-bottom: 0;
}

.link-mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.link-tell {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.langs {
  display: flex;
}

.langs__link {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
  margin-right: 7px;
}

.langs__link:last-of-type {
  margin-right: 0;
}

.langs__link--active,
.langs__link:hover {
  opacity: 0.5;
}
