@import 'fonts.css';
@import 'blocks/collapse-button.css';
@import 'mixins/reset-list.css';
@import 'blocks/swiper.css';
@import 'blocks/subtitle.css';
@import 'blocks/cards.css';
@import 'blocks/card.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: 'TT Lakes', sans-serif;
  background-color: #f8f8f8;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__subtitle {
  margin-bottom: 16px;
}

.catalog__button--hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .catalog__subtitle {
    margin-bottom: 24px;
  }

  .catalog__button {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
  }
}
